/* Index */
#splash {
	height: 100vh;
}

#content {
	height: 100vh;
}

.mom {
	margin-top: 3em;
}

.slogan {
	font-size: 1.3rem;
	margin-top: 0;
	padding-bottom: 1rem;
	border-bottom: 1px dashed red;
}

/* Home */
.logo-nav {
	width: 6em;
}

/* Contacto */
.contacto {
	font-size: 1.3rem;
}

.color-menu {
	color: #ef9a9a !important;
	font-weight: 700;
}

/*Post*/

.images-icons {
	margin: 1rem 0;
}

.vh100 {
	height: 100vh;
}

.def-color {
	color: #ef9a9a;
}

/* FILTRADO POSTS */
.input-search {
	margin-top: 1rem;
}

#search-post {
	margin-bottom: 0;
}

.card-border {
	border: none;
}

/* Modal post */
.icon-close {
	margin: 0;
}

.name-color {
	color: #00bfa5 !important;
}

#margen {
	padding: 5px;
}

#post-height {
	height: 7rem;
}

.margin-user {
	margin-top: 8px !important;
}

.favorite {
	color: red;
}

/* Desktop */
@media (min-width: 992px) {
	a .logo-nav {		
		width: 5em;
    transform: translateX(400%);				
	}
}