#splash {
	height: 100vh;
}

.brand-logo {
	width: 50%;
}

.vh100 {
	height: 100vh;
}

.mom {
	margin-top: 3em;
}

.slogan {
	font-size: 1.3rem;
	margin-top: 0;
	padding-bottom: 1rem;
	border-bottom: 1px dashed red;
}

.images-icons {
	margin: 1rem 0;
}

/* Desktop */
@media (min-width: 992px) {
}