/* Index */
#splash {
	height: 100vh;
}

#content {
	height: 100vh;
}

.mom {
	margin-top: 3em;
}

.slogan {
	font-size: 1.3rem;
	margin-top: 0;
	padding-bottom: 1rem;
	border-bottom: 1px dashed red;
}

/* Home */
.logo-nav {
	width: 3em;
}

.color-menu {
	color: #ef9a9a !important;
	font-weight: 700;
}


/*Post*/

.images-icons {
	margin: 1rem 0;
}

.vh100 {
	height: 100vh;
}

/* FILTRADO POSTS */
.input-search {
	margin-top: 1rem;
}


/* Desktop */
@media (min-width: 992px) {

}